/* Slider */
.slider {
  height: 100vh;
  background-color: black;
}
.slider h2 {
  font-size: 2rem;
  font-weight: 300;
}
.slider h1 {
  font-size: 4rem;
}
.slider h1 span {
  font-weight: 300;
}

/* Header */
.container-sticky {
  display: initial;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.open-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  .open-menu {
    display: block;
  }

  nav {
    flex-wrap: wrap;
  }

  nav ul {
    order: 3;
    flex-direction: column;
    width: 100%;
    display: none !important;
  }

  /* CLASE PARA OCULTAR O MOSTRAR EL MENÚ */
  .open-menu-responsive {
    display: flex !important;
  }
}

/* Fin de estilos para header */

/* @media screen and (max-width: 720px) {
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    order: 3;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  nav ul li {
    height: 0;
  }

  .open-menu {
    display: block;
  }

  .open-menu-responsive {
    opacity: 1;
  }

  .open-menu-responsive li {
    height: auto;
  }
} */

/* Portfolio */
.overlay {
  left: 0;
  right: 100%;
  bottom: 50%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: right 0.3s;
}
.portfolio-item:hover .overlay {
  right: 0;
}

/* Esto aún no lo vemos */

#link-pruebas {
  opacity: 0;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.animated-link {
  animation-duration: 3s;
  animation-name: colorChange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @keyframes colorChange {
  from {
    font-size: 10px;
    color: red;
  }

  to {
    font-size: 200px;
    color: blue;
  }
} */

/* Hasta aquí no hemos visto :v */
